<?xml version="1.0"?>
<config>
	<modules>
		<Openstream_TagNotifications>
			<version>0.1.0</version>
		</Openstream_TagNotifications>
	</modules>
    <frontend>
        <routers>
            <tag>
                <args>
                    <modules>
                        <Openstream_TagNotifications before="Mage_Tag">Openstream_TagNotifications</Openstream_TagNotifications>
                    </modules>
                </args>
            </tag>
        </routers>
    </frontend>
    <global>
        <rewrite>
            <openstream_tagnotifications_index>
                <from><![CDATA[#^tag/index/#]]></from>
                <to>/tagnotifications/index/</to>
            </openstream_tagnotifications_index>
        </rewrite>
		<resources>
			<tagnotifications_setup>
				<setup>
					<module>Openstream_TagNotifications</module>
				</setup>
				<connection>
                    <use>core_setup</use>
                </connection>
			</tagnotifications_setup>
		</resources>
		<template>
			<email>
				<tagnotifications_admin_notification_email_template translate="label" module="tagnotifications">
					<label>New tag admin notification</label>
					<file>tagnotifications_admin_notification_template.html</file>
					<type>html</type>
				</tagnotifications_admin_notification_email_template>
			</email>
		</template>
	</global>
</config>